.container2{
	max-width: 1366px;
}

nav{
 	background:#343a40;
 	color:#C8C8C8;
 	font-family: 'Montserrat', sans-serif;
 	border-bottom: 1px solid #B9B6B6;
 	position: fixed;
 	width: 100%;
}
.menu{
	display: inline-block;
	margin: 0;
	text-align: center;
}
.galaxyphoto{
	width: 100%;
	height: 100%;
	padding-top: 9vh;
}
.navcolumn{
	text-align: right;
}
.navetitle{
	display: inline-block;
	padding-left: 2em;
	cursor: pointer;
	padding-top: 0.6em;
}
.navlist{
	display: inline-block;
	padding-right: 1.5em;
	padding-top: 1.5em;
	font-weight: bolder;
	padding-left: 1em;
    padding-bottom: 1.3em;
    cursor: pointer;
    color: white;


}
.link{
	text-decoration: none;
	color:#C8C8C8;
	display: block;

}
.link:hover{
	color: white;
}
.navlist:hover,.navetitle:hover{
	color:white;
}
.navlist:hover{
	background: #767676;
}

.ceropadding{
	padding: 0;
}
.infoicon{
	display: inline-block;
	color:#F4C32F;

}
.aboutus{
	font-family: 'Montserrat', sans-serif;
	background:#343a40;
	color:#C8C8C8;
}
.fa{
	padding-right: 0.5em;
	font-size: 1.5em;
	color:#F4C32F;
}

.contactus{
	background:#898686;
	text-align: justify;
	padding-top: 4vh;

}
.contacttitle{
	color: #302759;
}
.infocontact{
	color: #302759;
}
.fa-whatsapp{
	color:#1bd744;
	font-weight: bold;
}
.fa-envelope{
	color: white;
}
.whatdo{
	padding-left: 10%;
	
}
.titlewhatdo{
	font-size: 2em;
	margin-bottom: 0.5em;
	margin-top: 2vh;
	color: white;
}
.paragraphwhatdo{
	text-align: justify;
}
.button{
	background:#343a40;
	color:#C8C8C8;
	height: 15vh;
	
}
.callbutton{
	margin-top: 4vh;
	display: inline-block;
	padding: 2vh;
	border:1px solid white;
	border-radius: 1.5em;
}
.callbutton:hover{
	background: #FC2A8D;
	cursor: pointer;
}

.fa-angle-double-right{
	margin-left: 1vh;
	font-size: 0.8em;

}
.photo{
	width: 45%;
	border:4px solid white;
}
.galery{
	background:#343a40;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color:#C8C8C8;

}
.titlecard{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background:#343a40;
	color:#C8C8C8;

}

.cardparagraph{
	width: 60%;
	text-align: justify;
	margin-left: 21%;
	padding-bottom: 5vh;
}
.buttoncard{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background:#343a40;
	height: 30vh;
}
.buttoncard1{
	display: inline-block;
	padding: 2vh;
	border: 2px solid white;
	border-radius: 1.5em;
	color:#C8C8C8;
	background: #FC2A8D;
}
.buttoncard1:hover{
	background: #FF6FA2;
	cursor: pointer;

}
footer{
	background:#343a40;
	color:#C8C8C8;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height: 10vh;
	padding-top: 4vh;
	border-top:1px solid #C8C8C8;
}
.titlecard1{
	color:white;
	padding-bottom: 2vh;
}

.fa-bars{
	color:#C8C8C8;
	display: none;

}




